.parentBtn{
    transition: transform 0.6s ease-in-out;
}
.parentBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.childIcon{
    transition: transform 0.6s ease-in-out;
}
.parentBtn:hover .childIcon{
    transform: rotate(240deg);

}